<div class="container">
  <div class="row">
    <div class="col-sm">
      カート
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <% if @carts.present? %>
        <%= link_to "空にする", carts_all_destroy_path, method: :delete %><br />
        <% @sum = 0 %>
        <% @carts.each do |cart| %>
          <table class="table">
            <%= attachment_image_tag cart.item, :image, fallback: "no-image.jpg", size: "50x50", class: "rounded-circle" %>
            <%= cart.item.name %>
            <%= (cart.item.price * 1.1).floor.to_s(:delimited) %>円
            <%= form_with model: cart, local: true do |f| %>
              <%= f.number_field :quantity, min:0, max:10 %>個
              <%= f.submit "変更" %>
            <% end %>
            <%= ((cart.item.price * 1.1).floor * cart.quantity).to_s(:delimited) %>円
            <%= link_to "削除", cart_path(cart), method: :delete %>
            <% @sum += (cart.item.price * 1.1).floor * cart.quantity %>
          </table>
        <% end %>
        <%= link_to "買い物を続ける", items_path %>
        合計金額<%= @sum.to_s(:delimited) %>円
        <%= link_to "情報入力に進む", new_order_path %>
      <% else %>
        カートに商品はありません
      <% end %>
    </div>
  </div>
</div>

